*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.super{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}

  .headbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
      .headbar > form{
        display: flex;
        flex-basis: 350px;
        justify-content: space-between;
      }
      .headbar h2{
        color: #E50914;
        font-size: 30px;
        font-weight: bolder;
      }
      .headbar input{
        flex-basis: 245px;
        height: 30px;
        border-radius: 5px;
      }
      #go{
        flex-basis: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        background-color: #E50914;
        color: white;
        cursor: pointer;
      }

  .search_results{
    flex-basis: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
      .media{
        position: relative;
        flex: 0 1 calc(100% / 3 - 20px);
        margin: 5px 5px;
        border: 3px solid rgba(255, 0, 0, 0.4);
      }
      .media_info{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 10px 0;
        background-color: black;
        color: white;
        z-index: 5;
        flex-direction: column;
        overflow-y: hidden;
      }
      .media_info > *{
        flex: 0 1;
      }
      .media_info p{
        padding-top: 10px;
      }
      .media:hover > .media_info{
        display: flex;
      }
      img.covers{
        width: 100%;
        height: 100%;
      }
      img.flags{
        vertical-align: middle;
      }
      .flags[src=""]{
        display: none;
      }
      .score{
        display: inline-block;
      }
      .fa-star{
        color: gold;
      }
